body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.color-orange{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 5px;
}
.half-width img{
    width: 40%;
}
.link-buttun{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}